body.videos-template-default{
    .video-center{
        margin-top:50px;
        margin-bottom:50px;
        background: black;
        min-height: 500px;
    }
    .infobody .infowrap .info-excerpt {
        font: 18px/24px Lato,"Open Sans",Helvetica,Arial,sans-serif;
        display:block;
        padding:10px;
    }
}

