@import '../variables';
/* MODALS */
.modal-warehouse {display:none !important}; /* never visible */
body .neon-modal{
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #b8b8b8;
  background-color: rgba(184,184,184,.7);
  .neon-modal-content{
      display: flex;
      min-height: 50%;
      align-items: center;
      position: relative;
      background-color: #fff;
      margin: 15% auto;
      padding: 20px 10%;
      border: 0;
      width: 80%;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
      z-index: 1;
      overflow: hidden;
      &.small {
        width: 57%;
      }
      h1 {
        font-weight:bold;
        color: $text-black;
      }
      p, div {
        font-size:18px;
        line-height:28px; 
        font-weight:500;
      }
      #neon_modal_balls { /* the svg */
          display:none;
          top:30px;
          width: 28%;
          left: -1px;
          top: 20%;
          position: absolute;
          z-index: 0;
      }
      .close {
          position: absolute;
          color: #212121;
          right: 20px;
          width: 28px;
          height: 28px;
          cursor: pointer;
          background-image: url(img/modal-close.svg);
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 2;
      }
      div {
          z-index:1;
      }
  &.payment {
    padding:0;
    .payment-bg {
      background: url(img/payment-form-img.jpg) center/cover;
      .col-12 {
        background:white;
        padding-left: 40px;
      }
    }
  }
  }
}
body.modal-open .neon-modal {
  display:block;
}
