@import '../variables';
body.login {
    background: url(img/GHCx-map-lightGreenDots-NoLogo.png) center/cover;
    //background-color: #8ac53f;
    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center; 
    .left-logo {
        position: absolute;
        top: 2%;
        left: 5%;
        width: 300px;
        height: auto;
        img {
            max-width:100%;
        }
    }
    .logincol{//right column
        min-height:100vh;
        background:white;
        overflow-y: scroll;
        h1 {
            padding-top:20%; 
            text-align: center;
        }
        .buttongroup-login {
            width: 50%;
            float: right;
            display: flex;
            justify-content: flex-end;
            right: 0;
            position: relative;
            p.registerlink {

                span#registerbutton {
                    background: white;
                    border-radius: 500px;
                    color: $text-light;
                    border: 2px solid $text-light;
                    min-height: 38px;
                    margin-right: 20px;
                    &:hover {
                        color:$text-dark;
                        border: 2px solid $text-dark;
                    }
                }
            }
            p.submit {
                input[type="submit"] {
                    border:0;
                    outline:0;
                    box-shadow:none;
                    font-size:18px;
                    border-radius: 4px;
                    background: $brightgreen;
                    color: white;
                    line-height: 1;
                    font-family:$sanchez;
                    padding: 0.6em 1em 0.4em;
                    padding:10px 30px;
                    cursor:pointer;
                    &:hover {
                        border-color: $brightgreen-hover;
                        background: $brightgreen-hover;
                    }
                
                    &:active,
                    &:focus {
                        border-color: $brightgreen-hover;
                        background: $brightgreen-hover;
                    }
                }
            }
        }
         
    }
    .connects-background{
        align-items: center;
        padding: 0 8%;
        .the-content {
            padding-top:20%;
            .the-video{
                width:100%;
                iframe {
                    max-width:100%;
                }
            }
            h2{
                
            }
            ul{
                list-style: none;
                margin: 15px 0 0 0;
                padding: 0;
                li{
                    background: no-repeat url(img/check-circle-grey.svg);
                    background-size: 32px;
                    font-size: 20px;
                    line-height: 1.2;
                    min-height: 32px;
                    margin-bottom: 25px;
                    padding-left: 45px;
                }
            }
        }
    }
} 
/* TYPOGRAPHY */
/* Headlines */
h1,h2,h3,
h4,h5,h6 {
	clear: both;
	&.center {
		text-align:center;
	}
}

h2 {
	font: 36px/48px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h3 {
	font: 28px/36px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h4 {
	font: 24px/36px $sanchez;
	color: $text-black;
	font-weight:bold;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h5 {
	font: 18px/24px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h6 {
	font: 16px/20px $sanchez;
	font-weight:bold;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}

body, 
button,
input,
select,
optgroup,
textarea {
	color: $text-dark;
	font-family: $lato;
	font-size: 14px;
	line-height: 20px;
}
/* REGISTRATION */
#registration {
    &.done {
       // animation:slideOut .4s 1 ease-in;
       display:none;
    }
    .hide_uname {
        display:none;
    }
    #passwordconfirm{
       // display:none;
    }
    #passwordconfirm.active{
        display:block;
    }
    #confirmlabel {
        //display:none;
    }
    #confirmlabel.active {
        display:block;
    }
    .message {
        display:block;
    }
    .message.hidden {
        display:none;
    }

    input[type="submit"] {
        border:0;
        outline:0;
        box-shadow:none;
        font-size:18px;
        border-radius: 4px;
        background: $brightgreen;
        color: white;
        line-height: 1;
        font-family:$sanchez;
        padding: 0.6em 1em 0.4em;
        padding:10px 30px;
        float: right;
        cursor:pointer;
        &:hover {
            border-color: $brightgreen-hover;
            background: $brightgreen-hover;
        }
     
        &:active,
        &:focus {
            border-color: $brightgreen-hover;
            background: $brightgreen-hover;
        }
    }
}
#register_payment {
    display:none;
    &.active {
        display:block;
        animation:slideUp .4s 1 ease-in;
    }
}

#section_membership {
    display:block;
    &.done{
        display:none;
    }
}
#section_myinfo{
    display:none;
    &.active {
        display:block;
    }
}
.gform_wrapper {
    .gform_footer{
        input[type="submit"]{
            border: 0;
            outline: 0;
            box-shadow: none;
            font-size: 18px;
            border-radius: 4px;
            background: #8ac53f;
            color: white;
            line-height: 1;
            font-family: "Sanchez",Georgia,serif;
            padding: 10px 30px;
            cursor: pointer;
            display:none;
            &.active {
                display:block;
            }
        }
    }
}
#register_payment {
    .gform_wrapper {
        .gform_footer{
            input[type="submit"]{
                border: 0;
                outline: 0;
                box-shadow: none;
                font-size: 18px;
                border-radius: 4px;
                background: #8ac53f;
                color: white;
                line-height: 1;
                font-family: "Sanchez",Georgia,serif;
                padding: 10px 30px;
                cursor: pointer;
                display:none;
                &.active {
                    display:block;
                }
            }
        }
    }
}
#register_payment {
    .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
        width: 100%;
        display: -moz-inline-stack;
        display: block;
        margin: 0;
        padding-right: 16px;
        min-height: 28px;
        vertical-align: top;
        font-size: 90%;
    }
}

.registerbutton {
    border: 0;
    position:absolute;
    outline: 0;
    box-shadow: none;
    font-size: 18px;
    border-radius: 4px;
    background: #8ac53f;
    color: white;
    line-height: 1;
    font-family: "Sanchez",Georgia,serif;
    padding: 10px 30px;
    cursor: pointer;
}