@import '../variables';
@import '../dialog';
body.login {   
    background: url(img/GHCx-map-lightGreenDots-NoLogo.png) center/cover;
    //background-color: #8ac53f;
    width: 100%;
    height: 100%;
    display:block;
    align-items:center;
    justify-content:center; 
    .left-logo {
        position: relative;
        width: 400px;
        height: auto;
        margin: 0 auto; 
        img {
            max-width:100%;
        }
    }
    .logincol{//right column
        min-height:100vh;
        background:white;
        overflow-y: scroll;
        h1 {
            padding-top:20%; 
            text-align: center;
        }
        label {
            width:100%;
        }
        .buttongroup-login {
            width: 50%;
            float: right;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            right: 0;
            position: relative;
            p.registerlink {

                span#registerbutton {
                    background: white;
                    border-radius: 500px;
                    color: #a7a8a9;
                    border: 1px solid #a7a8a9;
                    min-height: 38px;
                    line-height: 38px;
                    width: 110px;
                    text-align: center;
                    &:hover {
                        color:$text-dark;
                        border: 2px solid $text-dark;
                    }
                }
            }
            p.submit {
                input[type="submit"] {
                    border:0;
                    outline:0;
                    box-shadow:none;
                    font-size:18px;
                    border-radius: 4px;
                    background: $brightgreen;
                    color: white;
                    line-height: 1;
                    font-family:$sanchez;
                    padding: 0.6em 1em 0.4em;
                    padding:10px 30px;
                    cursor:pointer;
                    &:hover {
                        border-color: $brightgreen-hover;
                        background: $brightgreen-hover;
                    }
                
                    &:active,
                    &:focus {
                        border-color: $brightgreen-hover;
                        background: $brightgreen-hover;
                    }
                }
            }
        }
         
    }
    .requiredfield {
        font-size:14px;
    }
    .connects-background{
        align-items: center;
        padding: 0 8%;
        .the-content {
            width: 100%;
            .the-video{
                width:100%;
                display:flex;
                justify-content:center;
                iframe {
                    max-width:100%;
                }
            }
            h2.left-title{
                font: 24px/32px "Sanchez",Georgia,serif;
                color: #363637;
                font-weight: bold;
                
            }
            a {
                color: $text-black;
                text-decoration:underline;
                &:hover {
                    color: $text-black;
                }
            }
            ul{
                list-style: none;
                margin: 15px 0 0 0;
                padding: 0;
                li{
                    background: no-repeat url(img/check-circle-grey.svg);
                    background-size: 32px;
                    font-size: 20px;
                    line-height: 1.2;
                    min-height: 32px;
                    margin-bottom: 25px;
                    padding-left: 45px;
                    color: $text-black;
                }
            }
        }
    }
} 
/* TYPOGRAPHY */
/* Headlines */
h1,h2,h3,
h4,h5,h6 {
	clear: both;
	&.center {
		text-align:center;
	}
}

h2 {
	font: 36px/48px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h3 {
	font: 28px/36px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h4 {
	font: 24px/36px $sanchez;
	color: $text-black;
	font-weight:bold;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h5 {
	font: 18px/24px $sanchez;
	color: $text-black;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}
h6 {
	font: 16px/20px $sanchez;
	font-weight:bold;
	&.light {
		color: $text-light;
	}
	&.white {
		color: white;
	}
}

body, 
button,
input,
select,
optgroup,
textarea {
	color: $text-dark;
	font-family: $lato;
	line-height: 20px;
}
/* REGISTRATION */
#registration {
    &.done {
       // animation:slideOut .4s 1 ease-in;
       display:none;
    }
    .hide_uname {
        display:none;
    }
    #passwordconfirm{
       // display:none;
    }
    #passwordconfirm.active{
        display:block;
    }
    #confirmlabel {
        //display:none;
    }
    #confirmlabel.active {
        display:block;
    }
    .message {
        display:block;
    }
    .message.hidden {
        display:none;
    }

    input[type="submit"] {
        border:0;
        outline:0;
        box-shadow:none;
        font-size:18px;
        border-radius: 4px;
        background: $brightgreen;
        color: white;
        line-height: 1;
        font-family:$sanchez;
        padding: 0.6em 1em 0.4em;
        padding:10px 30px;
        float: right;
        margin-top: 30px;
        cursor:pointer;
        &:hover {
            border-color: $brightgreen-hover;
            background: $brightgreen-hover;
        }
     
        &:active,
        &:focus {
            border-color: $brightgreen-hover;
            background: $brightgreen-hover;
        }
    }
}
#register_payment {
    display:none;
    &.active {
        display:block;
        animation:slideUp .4s 1 ease-in;
    }
}

#section_membership {
    display:block;
    &.done{
        display:none;
    }
}
#section_myinfo{
    display:none;
    &.active {
        display:block;
    }
}
.gform_wrapper {
    .gform_footer{
        input[type="submit"]{
            border: 0;
            outline: 0;
            box-shadow: none;
            font-size: 18px;
            border-radius: 4px;
            background: #8ac53f;
            color: white;
            line-height: 1;
            font-family: "Sanchez",Georgia,serif;
            padding: 10px 30px;
            cursor: pointer;
            display:none;
            &.active {
                display:block;
            }
        }
    }
}
#register_payment {
    .gform_wrapper {
        .gform_footer{
            input[type="submit"]{
                border: 0;
                outline: 0;
                box-shadow: none;
                font-size: 18px;
                border-radius: 4px;
                background: #8ac53f;
                color: white;
                line-height: 1;
                font-family: "Sanchez",Georgia,serif;
                padding: 10px 30px;
                cursor: pointer;
                display:none;
                &.active {
                    display:block;
                }
            }
        }
    }
}
#register_payment {
    .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
        width: 100%;
        display: -moz-inline-stack;
        display: block;
        margin: 0;
        padding-right: 16px;
        min-height: 28px;
        vertical-align: top;
        font-size: 90%;
    }
}

.registerbutton {
    border: 0;
    position:absolute;
    outline: 0;
    box-shadow: none;
    font-size: 18px;
    border-radius: 4px;
    background: #8ac53f;
    color: white;
    line-height: 1;
    font-family: "Sanchez",Georgia,serif;
    padding: 10px 30px;
    cursor: pointer;
}
/* MODALS */
.modal-warehouse {display:none !important}; /* never visible */
body .neon-modal{
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #b8b8b8;
  background-color: rgba(184,184,184,.7);
  .neon-modal-content{
      display: flex;
      min-height: 50%;
      align-items: center;
      position: relative;
      background-color: #fff;
      margin: 15% auto;
      padding: 20px 10%;
      border: 0;
      width: 80%;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
      z-index: 1;
      overflow: hidden;
      &.small {
        width: 57%;
      }
      h1 {
        font-weight:bold;
        color: $text-black;
      }
      p, div {
        font-size:18px;
        line-height:28px; 
        font-weight:500;
      }
      #neon_modal_balls { /* the svg */
          display:none;
          top:30px;
          width: 28%;
          left: -1px;
          top: 20%;
          position: absolute;
          z-index: 0;
      }
      .close {
          position: absolute;
          color: #212121;
          right: 20px;
          top: 20px;
          width: 28px;
          height: 28px;
          cursor: pointer;
          background-image: url(img/modal-close.svg);
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 2;
      }
      div {
          z-index:1;
      }
  &.payment {
    padding:0;
    .payment-bg {
      background: url(img/payment-form-img.jpg) center/cover;
      .col-12 {
        background:white;
        padding-left: 40px;
      }
    }
  }
  }
}
body.modal-open .neon-modal {
  display:block;
}
/* super basic grid */
#membership-levels {
    width:100%;
    .login-wrap {
        padding:5%;
        width:100%;
    }
    .grid-left, .grid-center, .grid-right {
        background: #f5f5f5;
        border-left:1px solid #ccc;
        border-top:1px solid #ccc;
        text-align:center;
        margin-left:0;
        h5{ text-align:center;}
        padding:9px;
    }
    
    .grid-left {   
        text-align:left;
        h5{ text-align:left;}
    }
    .grid-right {
        border-right: 1px solid #ccc;
    }
    .last-row .grid-left,
    .last-row .grid-center,
    .last-row .grid-right {
        border-bottom:1px solid #ccc;
    }
    .grid-center img,
    .grid-right img {
        width:20px;
        height:20px;
        padding:2px;
    }
}
/* Why Join */
#why-join {
    /* DEPRECATED - PHASE OUT SOON
    .join-ghc-img img {
        max-width: 100%;
    }
    .join-ghc-text {
        display:flex;
        justify-content:center;
        align-items:center;
        color:white;
        font:28px/38px Lato;
        padding:5%;
        background:$accent; 
        &.left {
            background:$brightgreen;
        }
    }
    .col-12 {
        margin: 30px;
    }
    */
    h1{
        margin-top:40px;
    }
    .card-p {
        padding:4% 1%;
        border-bottom:1px solid #f1f1f1
      }
      .card-p-p {
        padding:2% 1%;
      
      }
      .pillarswrap {
        padding-top:2%;
        margin-bottom: 40px;
        .pillar {
          border-left:1px solid #f5f5f5;
          border-right:1px solid #f5f5f5;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,.06);
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          padding:2%;
          h5 {
            font: 14px/24px Lato;
            font-weight: 600;
            padding: 12px 0;
            color: #363637;
          }
        }
      }
}