/* VARIABLES */

/* Colors */
$brightgreen: #8ac53f;
$brightgreen-hover:#7cb138;
$accent: #00a9e0;
$text-light: #a7a8a9;
$text-dark: #6d6e70;
$text-black: #363637;
$off-white: #F4F4F4; 
$success: #8ac53f;
$error: #E14A29;
$dialogue: #fcc04c;
$sunflower: #d4c548;
$background-grey: #e1e1e1; 
$pine: #00843d;

/* Font */
$sanchez: "Sanchez", Georgia, serif;
$lato: Lato, "Open Sans", Helvetica, Arial, sans-serif; 