@import 'components/footer';
@import 'components/header';
@import 'components/right_avatar';
@import 'components/top_logo';
@import 'components/top_navigation'; 
@import 'components/gravityforms';
@import 'components/right_col'; 
@import 'components/single_stream';
@import 'components/single_video';
@import 'components/comments';
@import 'components/settings';

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,  
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} 
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

#membership-levels {
    width:100%;
    .login-wrap {
        padding:5%;
        width:100%;
    }
    .grid-left, .grid-center, .grid-right {
        background: #f5f5f5;
        border-left:1px solid #ccc;
        border-top:1px solid #ccc;
        text-align:center;
        margin-left:0;
        h5{ text-align:center;}
        padding:9px;
    }
    
    .grid-left {   
        text-align:left;
        h5{ text-align:left;}
    }
    .grid-right {
        border-right: 1px solid #ccc;
    }
    .last-row .grid-left,
    .last-row .grid-center,
    .last-row .grid-right {
        border-bottom:1px solid #ccc;
    }
    .grid-center img,
    .grid-right img {
        width:20px;
        height:20px;
        padding:2px;
    }
}
/* Why Join */
#why-join {
    .join-ghc-img img {
        max-width: 100%;
    }
    .join-ghc-text {
        display:flex;
        justify-content:center;
        align-items:center;
        color:white;
        font:28px/38px Lato;
        padding:5%;
        background:$accent; 
        &.left {
            background:$brightgreen;
        }
    }
    .col-12 {
        margin: 30px;
    }
}