@import 'components/footer';
@import 'components/header';
@import 'components/right_avatar';
@import 'components/top_logo';
@import 'components/top_navigation'; 
@import 'components/gravityforms';
@import 'components/right_col'; 
@import 'components/single_stream';
@import 'components/comments';
@import 'components/settings';

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}