@import '../variables'; 
.site-main.home {
    padding-top:0;
}
body.home #home-hero {
    margin-bottom: 9%;
    margin-top: 4%;
}
.author-wrap {
    padding:0;
    .author-bg{
        width:100%;
        padding-top:100%;
    }
}
h1.hometitle{
    text-align: center;
    padding: 4% 0;
}
.date-wrap {
    padding:0;
    background:$brightgreen;
    .date-bg {
        width:100%;
        height:100%;  
        padding:0;
        margin:0;
        .datewrap{
            width:100%;
            height:100%;
            flex-direction:column;
            justify-content:space-between;
            align-items:center;
            span {
                width:100%;
                text-align:center;
                display:flex;
                &.month {
                    font: 18px/24px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    top: 10px;
                    position: absolute;
                    display: block;
                }
                &.day {
                    font: 90px/90px "Sanchez",Georgia,serif;
                    color: white;
                    font-weight: bold;
                    justify-self: center;
                    align-self: center;
                    display: block;
                    height: 100%;
                    padding-top: calc(50% - 50px);
                }
                &.time {
                    font: 18px/24px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    flex-direction: column;
                    position: absolute;
                    display: block;
                    bottom: 10px;
                }
            }
        }     
    }
}
.infobody {
    background: $background-grey; 
    .infowrap{
        h1{
            font: 38px/48px "Sanchez",Georgia,serif;
        }
        height:100%;
        position:relative;
        .info-row {
            display: flex;
            justify-content: space-between;
            bottom: 10px;
            position: absolute;
            width: 100%;
        }
        .info-excerpt {
            font: 24px/32px $lato;
            display:block;
        }
    }
}

.leftcol,
.maincol{
    h3.upcoming {
        text-align:left;
    }
    .item {
        background:$background-grey;
        margin: 30px 0;
        h4 {
            font: 18px/24px $sanchez;
        }
        .image-bg {
            padding:0;
            .image{
                width:100%;
                height:100%;
                padding-top:100%;
            }
        }
        .date-bg{
            background:$accent;
            padding: 0;
            width: 100%;
            .date {
                height:100%;
                text-align:center;
                display:flex;
                flex-direction:column;
                .month {
                    font: 11px/14px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    top: 10px;
                    position: absolute;
                    display: block;
                }
                .day {
                    font: 32px/24px "Sanchez",Georgia,serif;
                    color: white;
                    font-weight: bold;
                    justify-self: center;
                    align-self: center;
                    display: block;
                    height: 100%;
                    padding-top: calc(50% - 16px);
                }
                .time {
                    font: 11px/14px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    position: absolute;
                    display: block;
                    bottom: 5px;
                    width:100%;
                    text-align:center;
                }
            }
        }
    }
}
.rightcol{
    h3.upcoming {
        text-align:left;
    }
    .item {
        background:$background-grey;
        margin: 30px 0;
        h4 {
            font: 18px/24px $sanchez;
        }
        .image-bg {
            padding:0;
            .image{
                width:100%;
                height:100%;
                padding-top:100%;
            }
        }
        .date-bg{
            background:$accent;
            padding: 0;
            width: 100%;
            .date {
                height:100%;
                text-align:center;
                display:flex;
                flex-direction:column;
                .month {
                    font: 11px/14px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    top: 10px;
                    position: absolute;
                    display: block;
                }
                .day {
                    font: 32px/24px "Sanchez",Georgia,serif;
                    color: white;
                    font-weight: bold;
                    justify-self: center;
                    align-self: center;
                    display: block;
                    height: 100%;
                    padding-top: calc(50% - 16px);
                }
                .time {
                    font: 11px/14px Lato,"Open Sans",Helvetica,Arial,sans-serif;
                    color: white;
                    position: absolute;
                    display: block;
                    bottom: 5px;
                    width:100%;
                    text-align:center;
                }
            }
        }
    }
}