@import '../variables';
 
ul.menu-right{
    list-style:none;
    display:flex;
    margin: 0;
    padding: 0;
    width: fit-content;
    li {
        white-space: nowrap;
        width: 100%;
        a {
        display:inline-flex;
        text-decoration: none;
        color: #363637;
        font: 16px/20px Lato,"Open Sans",Helvetica,Arial,sans-serif;
        }
    }
}

.checkmarklist {
    li a {
        color: #363637;
        text-decoration: underline;
    }
}

li.homeslide_thumb {
    display:none;
    &.active{
        display:flex;
    }
}
ul.checkmarklist{
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    justify-content: center;
    display: flex;
    li{
        background: no-repeat url(img/check-circle-grey.svg);
        background-size: 32px;
        font-size: 20px;
        line-height: 32px;
        min-height: 32px;
        padding-left: 45px;
        color: $text-black;
    }
}

.carousel-indicators {
    background: rgba(0,0,0,.2);
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
}
.carousel-control-prev {
    left: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,.7), rgba(0,0,0,0));
}
.carousel-control-next {
    right: 0;
    background-image: linear-gradient(to left, rgba(255,255,255,.7), rgba(0,0,0,0));
}